<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Proyectoprueba</display-name>
	<welcome-file-list>
		<welcome-file>GestionUsuarios/Login/Login.jsp</welcome-file>

	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.javarevolutions.jsps.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Registro</servlet-name>
		<jsp-file>/GestionUsuarios/Registro/Registro.jsp</jsp-file>
	</servlet>
	
	<servlet>
		<servlet-name>Inicio</servlet-name>
		<jsp-file>/ContenidoPrincipal/Inicio.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inicio</servlet-name>
		<url-pattern>/Inicio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginWeb</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registro</servlet-name>
		<url-pattern>/registro</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/GestionUsuarios/Login/Login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
</web-app>